<div class="container mt-5">

    <div class="card">
        <div class="card-header d-flex  justify-content-between">
            <h5 class="card-title">User List</h5>
            <button class="btn btn-primary" onclick="redirectToHome()">Back to Home</button>
        </div>
        <div class="card-body" id="userList">
            <div class="row font-weight-bold mb-2">
                <div class="col">User Id</div>
                <div class="col">Name</div>
                <div class="col">City</div>
                <div class="col">Country</div>
                <div class="col">Action</div>
            </div>

            {{#each users}}
            <div class="row user mb-3">
                <div class="col text-capitalize">{{ userId }}</div>
                <div class="col text-capitalize">{{ name }}</div>
                <div class="col text-capitalize">{{ city }}</div>
                <div class="col text-capitalize">{{ country }}</div>
                <div class="col text-capitalize">
                    <button class="btn {{#if block}}btn-success{{else}}btn-danger{{/if}}" data-user-id="{{ userId }}"
                        onclick="toggleBlock('{{ userId }}','{{ name }}')">
                        {{#if block}}Unblock{{else}}Block{{/if}}
                    </button>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>